body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
.container {
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  max-width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.option {
  display: block;
  margin: 10px 0;
  font-size: 18px;
  text-align: left;
  background-color: #f9f9f9;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.option:hover {
  background-color: #e0e0e0;
}
.option input {
  margin-right: 10px;
}
button {
  padding: 12px 20px;
  font-size: 18px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #0056b3;
}